
:root {
--IRIS: #4D5AE5 ;
--OCEAN: #404BBF ;
--NAVY-BLUE: #2E2F42 ;
--GREEN: #31D0AA ;
--SLATE: #434455 ;
--LIGHT-SLATE: #8E8F99 ;
--cornflower: #E7E9FC ;
--CLOUD: #F4F4FD ;
--GREY: #2E2F42 ;
--WHITE: #FFFFFF ;
--Dairy: #FCFCFC ;
--background-color: #E5E5E5;
--transition-btn: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
--transition-link: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
--transition-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
p{
margin-top: 0;
margin-bottom: 0;
}
ol,ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.list {
    list-style: none;
}

.page {
    background-color: #E5E5E5;
    font-family: "Roboto", sans-serif;
    color: var(--SLATE)
    
}
a {
    text-decoration: none
}
button {
    cursor: pointer;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
textarea {
    resize: none;
}
.visuallly-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/*------------------- Хедер---------------------------- */
/* -------------------LOGO------------------------- */

.header {
    background-color: var(--WHITE);
}

.logo {
   

    color: var(--IRIS);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
} 
.header-logo {
     margin-right: 77px;
}

.logo>span {
    color: var(--NAVY-BLUE)
}

.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: hsla(234, 78%, 95%, 1);
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    transition: var(--transition-link);
}



.menu-link:hover,
.menu-link:focus {
    color: var(--OCEAN);
}


.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    transition: var(--transition-link);
}

.link-this-mobile {
    color: var(--OCEAN);
}
.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--IRIS);

}
.mobile-menu-email .link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}


.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--OCEAN);
}
.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--IRIS);

}
.mobile-menu-email .link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}


.mobile-menu {
    position: fixed;

    top: 0;
    bottom: 0;
    background-color: var(--WHITE);
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}


.mobile-menu-open-icon {
    stroke: #2E2F42;
}
    
.mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 22px;
}
.mobile-menu-open:active {
    background-color: var(--OCEAN);

}




.mobile-menu-close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: var(--transition-btn);

}

.mobile-menu-close-btn:active {
    background-color: var(--OCEAN);

 }
.mobile-menu-social-list{
    display: flex;
    justify-content: space-between;
    padding: 15px;

    max-width: 328px;  
}


.mobile-soc-link {
    border-radius: 50%;
    background-color: var(--IRIS);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--transition-shadow),
        var(--transition-btn);
        width: 40px;
        height: 40px;
}

.social-list-link {
    width: 40px;
    height: 40px;

}

.social-list-link:hover,
.social-list-link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--OCEAN);
}
.mobile-address-list {
    margin-bottom: 48px;
}

.mobile-menu-tel {
    margin-bottom: 40px;
}


@media  screen and (max-width: 767px) {
    .menu,
    .address {
            display: none;
        }
}
@media screen and (max-width: 427px) {

        .page-header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
        padding-bottom: 24px;
}
}


@media screen and (min-width: 428px) {


.menu-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--NAVY-BLUE);
        transition: var(--transition-link);
    }
.container, .hero-container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}
.hero-container {
    padding-top: 24px;
    padding-bottom: 24px;
}

.mobile-menu-close-btn:active {
    background-color: var(--OCEAN);

}

.page-header-container {
    display: flex;
    justify-content: space-between;
        padding-top: 24px;
            padding-bottom: 24px;
}

}

@media screen and (min-width: 768px) {
.header {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: hsla(234, 78%, 95%, 1);
    }

    .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
        }
    .menu-link {
    
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5 ;
        letter-spacing: 0.02em;
}

.container .nav {
    display: flex;
    align-items: baseline;
    
}
.menu {
    display: flex;
    gap: 40px;

}
.page-header-container {

    justify-content: center;
    align-items: center;
}



.menu-link:hover,
.menu-link:focus {
    color: var(--OCEAN);
}

.nav{
    padding-top: 24px;
}
.menu-link {
    position: relative;
    height: 48px;
    padding-bottom: 0;
}
.menu-link {
    display: block;
}


.link-this::after {
    position: absolute;
    left: 0;
    bottom: -1px;


    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
    border-radius: 4px;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-this {
    color: var(--OCEAN);
}

.address {
    margin-left: auto;
    
}
.address-list {
    display: flex;
    flex-direction: column;
        gap: 12px;
}


.address-list .link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: var(--SLATE);
}

.address-list .link:hover,
.address-list .link:focus {
    color: var(--OCEAN);
}
.mobile-menu, .mobile-menu-open {
    display: none;
}

}

@media screen and (min-width: 1158px) {
    .container {
       max-width: 1158px;
        padding-top: 0;
        padding-bottom: 0;
justify-content: center;
    }
.address-list {
    display: flex;
    flex-direction: row;
        }
    .logo {
        margin-right: 77px;
}


.menu-link {
    height: 48px;
    width: 100%;
    padding: 0;
}
.address-list .link {
font-weight: 400;
    font-size: 16px;
    line-height:   1.5 ;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}
.address-link:not(:last-child) {
    margin-right: 40px;
}

}
/* ---------------------------MAIN ---------------------*/
/* --------------------HERO--------------- */
.hero {
    background-color: var(--WHITE);
    color: var(--WHITE);
}

.btn-hero {
    border-radius: 4px;
    padding: 16px 32px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE);

    background-color: hsla(235, 75%, 60%, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;

    margin-right: auto;
    margin-left: auto;
    transition: var(--transition-btn);
}


.btn-hero:hover,
.btn-hero:focus {
    background-color: var(--OCEAN);
}
 .btn-hero {
     margin-left: auto;
     margin-right: auto;
 }
  .hero-title {
      margin-bottom: 72px;
      margin-left: auto;
      margin-right: auto;

      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.1;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: capitalize;

      width: 320px;
  }

@media screen and (max-width: 427px) {
.hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-mob-1x.jpg);
        background-size: cover;
        padding-top: 112px;
        padding-bottom: 112px;

        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 428px) {
    .hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/Dark-bg-mob-1x.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 767px;
        
        padding-top: 112px;
        padding-bottom: 112px;

    display: flex;
    flex-direction: column;
    } 
}
@media (min-device-pixel-ratio) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {
    .hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-mob-2x.jpg);
    }
}
@media screen and (min-width: 768px) {
    .hero-container {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-tab-1x.jpg);
        max-width: 1157px;
        height: auto;
            }
    
}
@media (min-device-pixel-ratio) and (max-width: 1157px),
(min-resolution: 192dpi) and (max-width: 1157px),
(min-resolution: 2dppx) and (max-width: 1157px) {

.hero-container {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-tab-2x.jpg);
    }
}
@media screen and (min-width: 1158px) {
    .hero-container { 
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office-desc-1x.jpg);
    
        padding-top: 188px;
        padding-bottom: 188px;
        background-size: cover;
        max-width: 1440px;
    }
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

    width: 496px;
}
}
@media (min-device-pixel-ratio) and (min-width: 1158px),
(min-resolution: 192dpi) and (min-width: 1158px),
(min-resolution: 2dppx) and (min-width: 1158px) {
.hero-container {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-desc-2x.jpg);
    }
}
/* ------------------description -----------------------*/
.description-svg {
    background-color: var(--CLOUD);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: var(--transition-shadow);
}
.description-svg {
    margin-bottom: 8px;
}

.description-svg:hover,
.description-svg:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1157px) {
.description-svg {
    display: none;
}


}
@media screen and (max-width: 427px) {
.description,
    .features {
        background-color: var(--WHITE);
    }
.description-subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
}

.description-text {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--SLATE);
}
 .description-item:not(:last-child) {
     margin-bottom: 72px;
 }
  .description.section {
      padding-top: 96px;
      padding-bottom: 96px;
  }
}


@media screen and (min-width: 428px) {
.description,
.features {
    background-color: var(--WHITE);
    }
    .description {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .description-subtitle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;

    margin-bottom: 8px;
    }
        .description-text {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--SLATE);
    }
         .description-item:not(:last-child) {
             margin-bottom: 72px;
         }
   
}

@media screen and (min-width: 768px) {
    .description {
        padding-bottom: 96px;
    }
.description-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
        .description-subtitle {
            text-align: start;
    
        }
.description-item {
flex-basis: calc((100% - 24px) / 2);
}

}

@media screen and (min-width: 1158px) {

.description-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.description-text {
    font-weight: 400;
}
.description-item {
    flex-basis: calc((100% - 24px) / 4);
}
.description-list .description-item  {
    margin-bottom: 0;
}
.description-list {
    flex-wrap: nowrap;
}
.description {
   padding-top: 120px;
   padding-bottom: 120px;
}

}
/* ----------------------------features --------------------*/
@media screen and (max-width: 1157px){
  .features {
    display: none;
  }
}
.features-title,
.team-title,
.customers-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--GREY);
}

.features-title {
    margin-bottom: 72px;
}
.features-item {
    width: calc((100% - 24px) / 3);
}
.features-list {
    display: flex;
    gap: 24px;
}

.features {
padding-top: 0;
padding-bottom: 120px;
}

/* -------------------------Team ---------------------------*/
.team {
    background-color: var(--CLOUD);
}
.team-item {
    background-color: var(--WHITE);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.inner-team {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-list-link {
    width: 40px;
    height: 40px;
    background-color: var(--IRIS);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-shadow),
        var(--transition-btn);
}

.social-list-link:hover,
.social-list-link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--OCEAN);
}

.team-subtitle,
.team-text {
    text-align: center;
    margin-bottom: 8px;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--GREY);
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--SLATE);
    margin-bottom: 8px;
}


@media screen and (max-width: 427px) {
.team {
        padding-top: 96px;
        padding-bottom: 96px;

    }
        .team-title {
            margin-bottom: 72px;
        }
.team-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 72px;
}
.team-item {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
}
}




@media screen and (min-width: 428px) {
.team {
    padding-top: 96px;
    padding-bottom: 96px;
}
.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 72px;
}
.team-item {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (min-width: 768px) {
.team-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 24px;
        justify-content: center;
    }
.team-item {
    width: calc((100% - 24px) / 2);
} 

}
@media screen and (min-width: 768px) and (max-width: 1157px) {
.team-container {
        padding-left: 108px;
        padding-right: 108px;
    }

}


@media screen and (min-width: 1158px) {
.team-item {
        width: calc((100% - 72px) / 4);
    }
.team-list {
    flex-wrap: nowrap;
}


}

/* -----------------CUSTOMERS----------------------- */

.customers-section {
    background-color: var(--WHITE);
    padding-bottom: 96px;
    padding-top: 96px;
}
.customers-title {
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.customers-link {
    border: 1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;

    display: flex;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: var(--transition-shadow);

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
   
}

.customers-item {
    width: 168px;
        height: 88px;
}
.customers-icon {
    fill: var(--LIGHT-SLATE);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-link:hover,
.customers-link:focus {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--OCEAN);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: var(--OCEAN);
}




@media screen and (max-width: 427px) {
    .customers-item {
        width: calc((100% - 16px) / 2);
    }



    .customers-list {
        gap: 16px;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 428px) {
.customers-list {
    gap: 16px;
}

.customers-item {
    width: 190px;
}
.customers-list {
    flex-wrap: wrap;
}
 .customers-link {
     padding: 16px 40px;
     
 }
.customers-icon {
    width: 110px;
     height: 56px;
}

}

@media screen and (min-width: 768px) {

.customers-list {
        gap: 72px 24px;
    }

         .customers-item {
             width: 168px;
             height: 88px;
         }

    .customers-list {
        flex-wrap: wrap;
    }

    .customers-container {
        padding-left: 108px;
        padding-right: 108px;
    }

}

@media screen and (min-width: 1158px) {
        .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
    }
  
        .customers-container {
    padding-left: 15px;
    padding-right: 15px;
    }

}




/*------------------------- Footer----------------------- */
.footer {
    background-color: var(--NAVY-BLUE);
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer .logo-span {
    color: #F4F4FD;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
    padding: 0;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    width: 268px;

}
.footer-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-subtitle {
    color: var(--WHITE);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-soc-container {
    display: flex;
    flex-direction: column;
}
.footer-social-link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--IRIS);
    justify-content: center;
    align-items: center;
    transition: var(--transition-btn),
        var(--transition-shadow);
}

.footer-social-link:hover,
.footer-social-link:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--GREEN);
}
.forma-text-footer {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
/* ---------------footer form------------------ */
.footer-forma-input {
    background-color: inherit;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin-right: 24px;

    color: var(--WHITE);
}

.footer-forma-input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 12);
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--WHITE);
}

.footer-forma-btn {
    border-radius: 4px;
    padding: 8px 62px 8px 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE);

    background-color: hsla(235, 75%, 60%, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;

    transition: var(--transition-btn);
}

.footer-forma-btn:hover,
.footer-forma-btn:focus {
    background-color: var(--OCEAN);
}

.footer-field {
    position: relative;
    display: inline-block;
}

.footer-icon-btn {
    position: absolute;
    fill: var(--WHITE);
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}

.footer-forma-input:focus {
    border-color: rgba(77, 90, 229, 1);
}

@media screen and (max-width: 427px) {

    .footer-logo {
        margin-right: auto;
        margin-left: auto;
    }

    .footer-text {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-subtitle {
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-social-list {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-post {
        margin-bottom: 72px;

    }

    .footer-soc-container {
        margin-bottom: 72px;
    }

    .forma-text-footer {
        text-align: center;
    }

    .footer-forma-input {
        width: 100%;
        margin-bottom: 16px;

    }

    .forma-footer {
        display: flex;
        flex-direction: column;
    }

    .footer-field {
        margin-left: auto;
        margin-right: auto;
    }


}


@media screen and (min-width: 428px) {

.footer-logo {
    margin-right: auto;
    margin-left: auto;
}
.footer-text {
    margin-left: auto;
    margin-right: auto;
}
.footer-subtitle {
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}
.footer-social-list {
    margin-left: auto;
    margin-right: auto;
}
.footer-post {
    margin-bottom: 72px;

}
.footer-soc-container {
    margin-bottom: 72px;
}
.forma-text-footer {
 text-align: center;
}
.footer-forma-input {
    width: 100%;
    margin-bottom: 16px;

}
.forma-footer {
    display: flex;
    flex-direction: column;
}

.footer-field {
 margin-left: auto;
 margin-right: auto;
}

}


@media screen and (min-width: 768px) {
    
.footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 108px;

}
.footer-logo {
    margin: 0;
    margin-bottom: 16px;
}
.footer-soc-container {
    margin-bottom: 0;
}
.footer-post {
    margin-right: 24px;
}

.forma-footer {
    flex-direction: row;
    align-items: flex-end;
    gap: 24px;
}
.footer-forma-input {
    margin: 0;
    width: 264px;
}

}
@media screen and (min-width: 1158px) {
    .footer {
            height: 312px;
        }
    .footer-container {
        align-items: start;
    padding-left: 0;
    padding-right: 0;
    }
    .footer-post {
        margin-right: 120px;
        margin-bottom: 0;
    }
    .footer-soc-container {
        margin-right: 80px;
    }
}



/*-------------- MODAL WINDOW--------------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
   
    }

.modal {
    position: absolute;
    width: 408px;
    background-color: var(--WHITE);
    padding: 72px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    transition: transform 270ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
   } 

.modal-close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    transition: var(--transition-btn);
   
}
.modal-close-btn:active {
    background-color: var(--OCEAN);

} 
@media screen and (min-width: 428px) {
    .modal {
        width: 392px;

        padding-left: 16px;
        padding-right: 16px;

    }

}
@media screen and (min-width: 768px) {
    .modal {
padding-left: 23px;
padding-right: 25px;
}
}


/* ----------------FORM MODAL------------------- */
.forma-modal {
    display: flex;
    flex-direction: column;
}

.forma-modal-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;

    margin-bottom: 16px;
    text-align: center;
    
}

.forma-modal label{

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: var(--LIGHT-SLATE);

    margin-bottom: 4px;
}

.forma-modal-name {
    width: 100%;
padding-left: 38px;

border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-name {
    position: relative;
    margin-bottom: 8px;
}

.icon-name {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.forma-modal-name:focus {
    border-color: rgba(77, 90, 229, 1);
}

.forma-modal-name:focus+.icon-name {
    fill: rgba(77, 90, 229, 1);
}




.forma-modal-tel {
    width: 100%;
    padding-left: 38px;
    height: 40px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-tel {
    position: relative;
    margin-bottom: 8px;
}
.icon-tel {
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.forma-modal-tel:focus + .icon-tel {
    border-color: rgba(77, 90, 229, 1); 
    fill: rgba(77, 90, 229, 1);
}
.forma-modal-tel:focus {
    border-color: rgba(77, 90, 229, 1);
}


.forma-modal-email {
    width: 100%;
    padding-left: 38px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-field-email {
    position: relative;
    margin-bottom: 8px;
}
.icon-email {
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.forma-modal-email:focus {
    border-color: rgba(77, 90, 229, 1);
}
.forma-modal-email:focus + .icon-email {
    fill: rgba(77, 90, 229, 1);
}


.forma-modal-textarea {
    width: 100%;
    height: 138px;
    margin-bottom: 16px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.forma-modal-textarea:focus {
    border-color: rgba(77, 90, 229, 1);
}




.forma-modal-btn-send {
border-radius: 4px;
    padding: 16px 32px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--WHITE);

    width: 170px;

    background-color: hsla(235, 75%, 60%, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;

    margin-right: auto;
    margin-left: auto;
    transition: var(--transition-btn);
}
.forma-modal-btn-send:hover,
.forma-modal-btn-send:focus {
    background-color: var(--OCEAN);
}
.forma-modal-textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.forma-modal-textarea {
    padding: 8px 16px;
}

.polisy-field {
    margin-bottom: 24px;
}

.forma-modal-policy-desc::before {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
}
.checkbox:checked + .forma-modal-policy-desc::before {
    background-color: var(--OCEAN);
    background-image: url(../images/Icon-check.svg);
    background-repeat: no-repeat;
    background-position: center
    

}
.forma-modal-policy-desc {
    display: flex;
    
}
.polisy-link {
    text-decoration: underline;
    color: var(--IRIS);
}



/* ------------------PROJECT PORTFOLIO -------------------*/

.project {
    background-color: var(--WHITE);

}

.btn-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--IRIS);

    padding: 12px 24px;
    border-radius: 4px;
    background-color: hsla(240, 69%, 97%, 1);
    border: 1px solid hsla(234, 78%, 95%, 1);
    transition: var(--transition-btn), var(--transition-shadow);

}
.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--OCEAN);
    color: var(--WHITE);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    margin-bottom: 8px;
}
.btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.project-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}
.project-link {
    display: block;
}
.project-list-item {
    border: 1px solid #E7E9FC;
    transition: var(--transition-shadow);


}
.inner-project-card {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
}
.inner-project-card {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

@media screen and (max-width: 427px) {
 .project {
    padding-top: 48px;
     padding-bottom:  48px;
 }
 }
@media screen and (min-width: 428px) {
    .project {
            padding-top: 48px;
            padding-bottom: 48px;
        }
    
    .btn-list {
        justify-content: start;
        margin-bottom: 48px;
    }
        .project-list {
            gap: 48px 
        }
}

@media screen and (min-width: 768px) {
    .project-list {
        column-gap: 24px;
        row-gap: 72px;
    }
.project-list-item {
    width: calc((100% - 24px) /2 );

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.btn-list {
    justify-content: center;
    margin-bottom: 64px;
}
.project {

    padding-bottom: 96px;
    padding-top: 64px;
}
}


@media screen and (max-width: 767px) {
    
    
    .btn-list {
        justify-content: start;
        margin-bottom: 48px;
    }
        
    .project-list {
        gap: 48px
    }
    .project-list-item {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 396px;
    }
}
@media screen and (max-width: 1157px) {
.overlay {
    display: none;
}

}
@media screen and (min-width: 1158px) {
.project {

        padding-bottom: 120px;
        padding-top: 96px;
    }
.btn-list {

    margin-bottom: 72px;
}


    .project-list-item {
    box-shadow: none;
}





.project-list {

        row-gap: 48px;
        column-gap: 24px;
    }

    .project-list li {
        width: calc((100% - 48px) / 3);
    }
.project-list-item:hover {
        border: 1px solid #F4F4FD;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .project-link:focus {
        border: 1px solid #F4F4FD;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    }
        .project-link:hover .overlay,
        .project-link:focus .overlay {
            transform: translate(0, 0);
        }
}

.inner-project-card {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.project-item-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--IRIS);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--WHITE);
    padding: 40px 32px 164px;
}



/* 

.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    margin-bottom: 8px;
}

.filter-list {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--IRIS);

}

.btn-filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--IRIS);

    padding: 12px 24px;
    border-radius: 4px;
    background-color: hsla(240, 69%, 97%, 1);
    border: 1px solid hsla(234, 78%, 95%, 1);
    transition: var(--transition-btn), var(--transition-shadow);

}

.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--OCEAN);
    color: var(--WHITE);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 92px;
    gap: 24px;
}

.project-list-item:hover {
    border: 1px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link:focus {
    border: 1px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link {
    display: block;
}

.project-link:hover .overlay,
.project-link:focus .overlay {
    transform: translate(0, 0);
}

.project-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
}

.project-list-item {
    border: 1px solid #E7E9FC;
    transition: var(--transition-shadow);


}

.project-list img {
    max-width: 100%
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.project-list li {
    width: calc((100% - 48px) / 3);
}

.inner-project-card {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.project-item-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;

    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--IRIS);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--WHITE);
    padding: 40px 32px 164px;
} */